:root {
  --primary-color: #000000;
  --primary-color-hover: #0056b3;
  --background-color: #f4f4f9;
  --card-background-color: #ffffff;
  --text-color: #333;
  --border-color: #ddd;
}

body {
  background-color: var(--background-color);
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.HomePage {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  background-color: var(--card-background-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

h1.h1 {
  text-align: center;
  color: var(--primary-color);
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  margin-top: -10px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

select {
  width: 200px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  font-size: 16px;
  background-color: var(--card-background-color);
  color: var(--text-color);
}

button {
  margin-top: -6px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-color-hover);
}
.acer{
  width: 70px;
}
.hp{
  width: 60px;
}
.dell{
  width: 65px;
}
.lenovo{
  width: 85px;
}
.msi{
  width: 85px;
  margin-bottom: 60px;
  
}
.apple{
  width: 60px;
}
.laptop-details {
  margin-top: 5px;
}

.card {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  max-width: 300px;
  background-color: var(--card-background-color);
  font-size: 15px;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card li {
  margin-bottom: 8px;
}

.card strong {
  color: var(--text-color);
}
.logo-container {
  display: flex;
  justify-content: center; /* Centers the logos horizontally */
  margin-bottom: 20px; /* Adds some space below the logos */
}

.logo-container img {
  margin: 0 10px; /* Adds space between logos */
}
